<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.chaterserver.mapper.ClientMessageMapper">
    <resultMap type="com.example.chaterserver.entity.ClientMessage" id="ClientMessageMapper">
        <result property="messageId" column="messageId" jdbcType="VARCHAR"/>
        <result property="fromID" column="fromID" jdbcType="VARCHAR"/>
        <result property="toID" column="toID" jdbcType="VARCHAR"/>
        <result property="textContent" column="textContent" jdbcType="VARCHAR"/>
        <result property="sendTime" column="sendTime" jdbcType="DATE"/>
        <result property="isHasPic" column="isHasPic" jdbcType="INTEGER"/>
    </resultMap>

    <insert id="insert" parameterType="com.example.chaterserver.entity.ClientMessage">
        insert into messages(messageId, fromID, toID, textContent, sendTime, isHasPic)
        values (#{messageId}, #{fromID}, #{toID}, #{textContent}, #{sendTime}, #{isHasPic} )
    </insert>


    <!--查询信息-单个-多个-全部-->
    <select id="query"  parameterType="com.example.chaterserver.entity.ClientMessage"  resultMap="ClientMessageMapper">
        select
          *
        from messages
        <where>
            <if test="messageId != null">
                and messageId = #{messageId}
            </if>
            <if test="fromID != null and fromID != ''">
                and fromID = #{fromID}
            </if>
            <if test="toID != toID">
                and toID = #{toID}
            </if>
        </where>
    </select>

<!--

    &lt;!&ndash;新增所有列&ndash;&gt;
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into mybatis.student(name, age)
        values (#{name}, #{age})
    </insert>

    &lt;!&ndash;通过主键修改数据&ndash;&gt;
    <update id="update">
        update mybatis.student
        <set>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="age != null">
                age = #{age},
            </if>
        </set>
        where id = #{id}
    </update>
-->


</mapper>