<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.chaterserver.mapper.FriendMapper">
    <resultMap type="com.example.chaterserver.entity.User" id="UserMapper">
        <result property="userId" column="userId" jdbcType="VARCHAR"/>
        <result property="userName" column="userName" jdbcType="VARCHAR"/>
        <result property="headImg_url" column="headImg_url" jdbcType="VARCHAR"/>
    </resultMap>

    <insert id="insert" parameterType="com.example.chaterserver.entity.Friendcontact">
        insert into friendcontact
        values ( #{userId},  #{firendId} )
    </insert>

    <!--查询信息-单个-多个-全部-->
    <select id="find"  parameterType="com.example.chaterserver.entity.User"  resultMap="UserMapper">
        select
          userName, userId, headImg_url, sex, email
        from user
        <where>
            <if test="userName != null">
                and userName like '%#{userName}%'
            </if>
            <if test="userId != null and userId != ''">
                and userId = #{userId}
            </if>
        </where>
    </select>

    <select id="selectContact" parameterType="com.example.chaterserver.entity.User" >

    select * from
    friendcontact where  userId = #{userId}

    </select>


<delete id="delete" parameterType="com.example.chaterserver.entity.Friendcontact">

    delete from friendcontact where userId = #{userId} and friendId = #{friendId}
</delete>
    <!-- useGeneratedKeys="true"生成主键  keyProperty="id"是Java对象的属性名id -->
    
<!--
    &lt;!&ndash;通过主键修改数据&ndash;&gt;
    <update id="update">
        update mybatis.student
        <set>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="age != null">
                age = #{age},
            </if>
        </set>
        where id = #{id}
    </update>
-->


</mapper>